{% extends 'music/base.html' %}
{% load staticfiles %}
{% block content %}



<div class="player">
    <div class="control">
        <audio id="my-player" loop ></audio>

        <div class = "player_title">
            <div class="name_album">Linkinpark</div>
            <div class="name_song"></div>
        </div>

        <div class="player_button_control">
            <div class="button_mut"></div>  
            <div class="back"></div>
            <div class="button" data-src = ""></div>
            <div class="next"></div>
            <div class="but_Playlist"></div>
        </div>

        <div class="time_song">
            <div class="realtime">0:00</div>
            <div class="long">0:00</div>
        </div>

    </div>

    <div class="div_timeline">
        <input id="timeline" type="range" min="0" max=""/>
    </div>

    <div class="tracklist"> 

        <div class="track">
            {% for track in tracks %}
            <div class="track_rows">
                <div class="count">1</div>
                <div class='artist-name'>
                    <div class="artist">Linkinpark</div>
                    <div class="name_track" data-src = "/{{track.path}}", aritst='track.artist'>{{track.title}}</div>
                </div>
                <div class="time">1</div>
                <div class="add_track" id_track = '{{track.id}}'>AT</div>
            </div>  
            {% endfor %}
        </div> 
                
    </div>
</div>




<div class="select_select">
    <select name="" id="select_add_song">
        {% for pl in all_user_pl%}
            <option id='' value="{{pl.id}}">{{pl}}</option>
        {% endfor %}
    </select>
</div>

<div class="form">
    <form id = 'AddPlaylist' action="" method="POST">
        {% csrf_token %}
        {{form}}
    </form>
</div>

{% endblock %}