{% extends 'music/base.html' %}

{% block content %}

<div class="player">
    <div class="control">
        <audio id="my-player" loop ></audio>

        <div class = "player_title">
            <div class="name_album"></div>
            <div class="name_song"></div>
        </div>

        <div class="player_button_control">
            <div class="button_mut">
                  <input id="line_volume" type="range" orient='vertical' min="0" max="100"/>
            </div>  
            <div class="back"></div>
            <div class="button" data-src = ""></div>
            <div class="next"></div>
            <div class="but_Playlist" id='job_menu'>


                <div class="job_menu">
                    <ul class="top_menu">
                        <li id='job_menu' onclick="$('.create_playlist').show();">
                            Add
                        </li>
                        <li id='job_menu'>Open
                                <ul class="sub_menu">
                                    {% for pl in user_playlist%}
                                    <li><a id='job_menu' href='?pl={{pl}}#'>{{pl}}</a>
                                        <ul class= 'sub_menu_two'>
                                            <li><div id='job_menu' class="button_del_pl" pl={{pl.id}}></div></li>
                                        </ul>
                                    </li>
                                    {% endfor %}
                                </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        
        <div class="time_song">
            <div class="realtime">0:00</div>
            <div class="long">0:00</div>
        </div>

    </div>

    <div class="div_timeline">
        <input id="timeline" type="range" min="0" max=""/>
    </div>

    <div class="tracklist"> 
        <div class="track">
            {% for song in songs_pl %}
            <div class="track_rows">
                <div class="count"></div>
                <div class='artist-name'>
                    <div class="artist">Linkinpark</div>
                    <div class="name_track" data-src = "/{{song.path}}", artist='{{song.artist}}'>{{song.title}}</div>
                </div>
                <div class="time">0:00</div>
                <div class="del_track" id_track = '{{song.id}}'>DT</div>
            </div>
            {% endfor %}  
        </div> 
    </div>
</div>


<div class="create_playlist" id='job_menu'>
    <form  class ='form_create_playlist' action="" method="post">    
        {% csrf_token %}
        {{form}}
    </form>
    <div class="button_create_pl">
        <button id="button_create_pl">Добавить</button>
    </div>
</div>



<div class="form_del_track"  active_pl = {{active_pl.title}}>
    <form class="del" action="del_song" method="post">
        {% csrf_token %}    
        {{form_del_song}}
    <button name="submit">Удалить песню</button>
    </form>
</div>



<div class="form_del_pl">
    <form class="del_pl" action="del_pl" method="post">
        {% csrf_token %}
        {{form_del_pl}}
    <button name="submit">Удалить плейлист</button>
    </form>
</div>

{% endblock %}





